@media(max-width: 767px) {
    .modal-content, .modal-dialog {
        width: 100%!important;
        margin: 0!important;
    }

    .modal .modal-dialog .modal-content .modal-body {
        padding: 15px!important;
    }

    .modal .modal-body>div input, .modal .modal-body>div button{
        width: 50%!important;
    }
}